/*Quitamos los botones que vienen por defecto en el input type number*/
#dni{
    appearance: textfield !important;
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}


.form-container{
    position: relative;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    max-width: 580px;
    text-align: center;
}
#spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Otros estilos del spinner-container si es necesario */
}
#spinner-container p{
    font-size: 20px;
}
#form-contact{
    visibility: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    max-width: 580px;
    text-align: center;
}

.form-group{
    margin: 20px;
}

input,
select{
    width: 100%;
    padding: 18px;
    border: 1px solid black;
    border-radius: 4px;
}

#dni{
    appearance: textfield !important;
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}