.header-container {
  background-color: #333; /* Fondo oscuro para el encabezado */
  padding: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff; /* Color del texto en modo oscuro */
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #1a1a1a; /* Fondo oscuro para el cuerpo de la página */
  color: #fff; /* Color del texto en modo oscuro */
}